.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
    padding: 50px;
    color: white;
    background-color: rgba(58, 55, 55, 0.7);
    border-radius: 10px;
}

.right-container{
    width: 500px;
    padding: 20px;
}

.left-container{
    width: 500px;
    padding: 20px;
}

.about-container h2{
    font-size: 40px;
}

.about-container p{
    margin-top: 10px;
    font-size: 18px;
}

.about-container ul li{
    font-size: 18px;
    margin-left: 20px;
    list-style: circle;
}


@media (min-width: 790px) {
  
}