/*
    Admin css;
*/


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}


.clearfix{
    float: none;
    clear: both;
}


.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}


.btn-primary{
    background-color: rgb(44, 37, 37);
    padding: 1%;
    color: wheat;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: rgb(209, 27, 27);
}


.btn-secondary{
    background-color: rgb(44, 71, 74);
    padding: 1%;
    color: rgb(168, 147, 108);
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: rgb(179, 70, 70);
}


.btn-third{
    background-color: rgb(176, 184, 185);
    padding: 1%;
    color: rgb(75, 30, 159);
    text-decoration: none;
    font-weight: bold;
}
.btn-third:hover{
    background-color: rgb(146, 109, 109);
}



/*
    css for Menu
*/
.menu{
    border-bottom: 1px solid;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(84, 67, 43);
}
.menu ul li :hover{
    color:  rgb(117, 95, 95);
}


/* css for main-content */
.main-content{
    background-color: gray;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* 
    footer css
 */
.footer{
    background-color: rgb(71, 71, 55);
    color: white;
}