/*
    Admin css;
*/


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}


.clearfix{
    float: none;
    clear: both;
}


.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}


.btn-primary{
    background-color: #303952;
    padding: 1%;
    color: #f5cd79;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #596275;
}


.btn-secondary{
    background-color: #c44569;
    padding: 1%;
    color: #f5cd79;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #778beb;
}


.btn-third{
    background-color: #786fa6;
    padding: 1%;
    color: #303952;
    text-decoration: none;
    font-weight: bold;
}
.btn-third:hover{
    background-color: #f3a683;
}


.success{
    color: #4d3f39;
}
.error{
    color: #596275;
}







/*
    css for Menu
*/
.menu{
    border-bottom: 1px solid;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(84, 67, 43);
}
.menu ul li :hover{
    color:  rgb(117, 95, 95);
}


/* css for main-content */
.main-content{
    background-color: #63cdda;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: #f19066;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* 
    footer css
 */
.footer{
    background-color: #574b90;
    color: white;
}