/* CSS for Categories */
.categories{
    background-color: rgb(121, 71, 71); /* Set your desired background color */
    text-align: center;
    padding: 3% 0;
    color: white;
}
/* 
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
} */

.categories-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    background-color: brown;
}

.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}

.other{
    width: 260px; height: 200px;
}

.float-container{
    position: relative;
}

.cat-img-curve{
    border-radius: 15px;
    max-width: 100%; /* Set the maximum width to 100% */
    height: auto;
}


.success{
    color: green;
}
.error{
    color: red;
}


.box-3{
    width: 20%;
    float: left;
    margin: 5%;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.tbl-full{
    width: 100%;
}