.contact-page{
    margin: 20px;
    background-color: rgb(211, 211, 211, 0.9);
    border-radius: 8%;
}

.contact-container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-container h1{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

.contact-container input, textarea {
    display: block;
    border: none;
    font-size: 16px;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%;
}

main{
    height: 140vh;
}

@media (min-width: 790px) {
    .contact-page{
        margin-left: auto;
        margin-right: auto;
        width: 760px;
        border-radius: 10%;
    }

    .contact-container{
        width: 60%;
    }
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}